@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.col {
  width: 500px;
  height: 100%;
  margin: 0 auto;
}


.box {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

video{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
}

.tools-switch {
  position: absolute;
  bottom: 10px;
  width: 100px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(220, 220, 220);
  opacity: .5;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
}

.tools {
  height: 0;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  background-color: rgb(220, 220, 220);
  /* opacity: .7; */
  transition: all .5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  overflow: hidden;
}

.tools-items {
  width: 166px;
  display: flex;
  justify-content: space-between;
}

.tools-show {
  height: 70px;
}

.tools-hide {
  display: "none";
  height: 0;
}

.tools-box-show {
  display: block;
}

.tools-box-hide {
  display: none;
}

.sidebar{
  position: absolute;
  width: 200px;
  height: 100vh;
  border: 1px solid black;
}

.sidebar h1{
  margin: 0;
  margin-left: 20px;
}

.messages{
  position: absolute;
  width: 100%;
  height: calc(100vh - 150px);
  bottom: 0;
  margin-left: 20px;
  overflow: hidden;
}
.messages div{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}